{
  "language": "en-us",
  "urls": [
    "ws://url:porta/ws"
  ],
  "assets": {
    "app": "https://cdn.discordapp.com/emojis/912965656624889916.gif",
    "loop":"https://cdn.discordapp.com/attachments/554468640942981147/925586275950534686/loop.gif",
    "pause": "https://i.ibb.co/mDBMnH8/pause.png",
    "soundcloud": "https://i.ibb.co/CV6NB6w/soundcloud.png",
    "spotify": "https://i.ibb.co/3SWMXj8/spotify.png",
    "stream": "https://i.ibb.co/Qf9BSQb/stream.png",
    "yt": "https://i.ibb.co/LvX7dQL/yt.png"
  }
}